[Unit]
Description=OpenStack Oasis Agent

[Service]
Type=simple
ExecStart=/usr/local/bin/oasisagent --config-dir /etc/oasis-agent
Restart=on-failure

[Install]
WantedBy=multi-user.target
